<launch>

  <node pkg = "dsb_rx"
        name = "sis_bias_vol_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find dsb_rx)/relay_conf/sis_bias_vol_reader.conf" />

  </node>

  <node pkg = "dsb_rx"
        name = "sis_bias_cur_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find dsb_rx)/relay_conf/sis_bias_cur_reader.conf" />
  </node>

  <node pkg = "dsb_rx"
        name = "sis_bias_vol_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find dsb_rx)/relay_conf/sis_bias_vol_writer.conf" />
  </node>

</launch>
